:root {

  --primary-color: #464775;
  --primary-dark-color: #33344a;
  --light-color: #fff;

  --btn-primary: #6264a7;

  --text-color: #616161;
  --text-size: 1.4rem;

  --bg-light: #f0f0f0;
  --bg-dark: #ebebeb;

  --bg-card-color: #e9eaf6;
}

/********************************************************
  GLOBALES
********************************************************/
body {
  background-color: var(--bg-light);
}
.mb-5 {
  margin-bottom: 25px;
}
.mt-5 {
  margin-top: 25px;
}
.backbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/********************************************************
  HEADER
********************************************************/
.ui.menu {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--bg-light);
}

.ui.menu .item:before {
  width: 0;
}

/********************************************************
  SEARCH
********************************************************/
.ui.search {
  margin-top: 10px;
}
.ui.input {
  width: 100%;
}
.ui.input input {
  border-radius: 0 !important;
  font-size: var(--text-size);
}

/********************************************************
  EmptyNotes
********************************************************/
.empty-notes {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-notes__logo {
  width: 90px;
  height: 90px;
}
.empty-notes__logo img {
  width: 100%;
  height: 100%;
}
.empty-notes p {
  text-align: center;
  font-size: var(--text-size);
  margin-top: 15px;
}

/********************************************************
  Notes
********************************************************/
.ui.Notes {
  margin-top: 5px;
}
.ui.Notes .card {
  width: 100%;
  font-size: var(--text-size);
}

/********************************************************
  LOGIN
********************************************************/
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
}
.login .container {
  width: 100%;
}
.login main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__header .heading {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.login__header .heading h1 {
  color: var(--text-color);
  font-weight: 400;
  text-align: center;
  width: 75%;
}
.login__header .heading h1 span {
  font-weight: 900;
  color: var(--primary-color);
}
.login__header .text {
  text-align: center;
  font-size: var(--text-size);
  color: var(--text-color);
}
.login__logo {
  width: 220px;
  height: 220px;
  margin: 40px 0;
}
.login__logo img {
  width: 100%;
  height: 100;
}
.login__buttons button {
  margin: 15px 0 !important;
}

/********************************************************
  LOGIN WITH EMAIL AND PASSWORD
********************************************************/
.loginWithEmailAndPassword {

}
.loginWithEmailAndPassword main .heading {
  text-align: center;
  margin-bottom: 60px;
}
.loginWithEmailAndPassword main .heading h1 {
  font-weight: 900;
  color: var(--primary-color);
}
.loginWithEmailAndPassword main form .ui.button {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.loginWithEmailAndPassword main form .field label {
  font-size: var(--text-size) !important;
  color: var(--text-color) !important;
}
.loginWithEmailAndPassword main form .field input {
  font-size: var(--text-size) !important;
}
.loginWithEmailAndPassword footer {
  text-align: center;
  margin-top: 60px;
  font-size: var(--text-size);
}
.loginWithEmailAndPassword footer p {
  color: var(--text-color) !important;
}

/********************************************************
  REGISTER
********************************************************/
.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
}
.register .container {
  width: 100%;
}
.register .heading {
  text-align: center;
  margin-bottom: 60px;
}
.register .heading h1 {
  font-weight: 900;
  color: var(--primary-color);
}
.register form .field label {
  font-size: var(--text-size) !important;
  color: var(--text-color) !important;
}
.register form .field input {
  font-size: var(--text-size) !important;
}
.register form .ui.button {
  margin-top: 25px;
  background-color: var(--primary-color);
  color: var(--light-color);
}
.register footer {
  text-align: center;
  margin-top: 50px;
  font-size: var(--text-size);
}
.register footer p {
  color: var(--text-color) !important;
}
